* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(69, 67, 67);
    opacity: 0.9;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar a:hover {
    opacity: 1;
}

.nav-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:1% 3%;
}

.section1 a,
.section2 a,
.section3 a,
.section4 a {
    text-decoration: none;
}

.section1 {
    padding:4%;
    background-color: rgb(251, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fw-bolder {
    font-size: 3rem;
}

.image1{
    width:100%;
}

.MacBookImage {
    height: 40vh;
    width: 90%;
    border-radius: 10px;
    margin-left:6%;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 246, 246);   
}

.secondsectionimage{
    width:100%;
}

.macbook1 {
    margin-left:10%;
    width: 80%;
    height:45vh;
    margin-top:3%;
    border-radius: 10px;
}

.section2 .second {
    text-align: center;
}

.phoneimage{
    width:100%;
}

.phone {
    width: 50vw;
    height: 70vh;
    margin-left: 25%;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.div1,
.div3,
.div4,
.div6,
.div5 {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1,.div3,.div4{
    background-color: rgb(251, 246, 246);
}

.div1 img {
    width: 90%;
    height:45vh;
    margin-left:4%;
}

.div2 {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url("./images/visionpro2.jpg");
    background-size: cover;
    background-position: center;
}

.textheading{
    width:75%;
    text-align: center;
}

.div3 {
    background-color: black;
}

.div3 img {
    width:50%;
    margin-left:25%;
}

.div3 .white-apple {
    width:15%;
}

.div3 .watch-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section4img{
    width:100%;
}

.div4 img {
    width: 80%;
    margin-left: 12%;
}

.section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section4 .div6 img {
    width:100%;
}

.div6image{
    width:100%;
}

.section4 .div5 img {
    width: 60%;
    display: block;
    margin: auto;
}

.section5 .image1{
    height:70vh;
    width:100%;
}

footer{
    background-color: rgba(228, 228, 238, 0.888);
}

footer p{
    margin:10px 80px;
}

footer .line{
    height:1px;
    background-color: black;
    margin:20px 80px;
}

h6{
    margin:10px;
    margin-left: 31px;
}

footer li{
    list-style: none;
}

footer .footer-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer ul{
    padding-left: -2rem;
}

footer .last-footer{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:820px){
    .phone {
        width: 60vw;
        height: 60vh;
        margin-left: 20%;
    }

    .div1 img {
        height:35vh;
    }

    h6{
        margin-left:0;
    }

    footer ul{
        padding-left: 0rem;
    }

    footer p{
        margin:10px 50px;
    }
}


@media only screen and (max-width:620px){
    .fw-bolder {
        font-size: 2rem;
    }
}