*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#wrapper{
    height:100vh;
    overflow-x:hidden;
    perspective:10px;
}


.container{
    position:relative;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    transform-style:preserve-3d;
    z-index:-1;

}



.background{
    transform:translateZ(-40px) scale(6);
}


.foreground{
    transform:translateZ(-20px) scale(3);
}


.foreground,.background{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:-1;
}


h1{
   position:absolute; 
   top:5rem;
   font-size:10rem;
   letter-spacing:4px;
   color:white;
   text-shadow:0 0 10px rgba(0,0,0,0.2);

}


section{
    background-color:rgb(45,45,45);
    color:white;
    padding:5rem 0;
    
}


.secHeading{
    font-size:5rem;
    padding:0 10rem;
}

.text{
    font-size:1.5rem;
    padding:0 10rem;
    margin:5rem 0;
}

.secHeading{
    font-size:5rem;
    padding:0 10rem;
}

.bg{

    position:relative;
    width:100%;
    background-attachment: fixed;
   
    background-position:center; 
    background-size:cover; 
    height:500px;

}

.desc{
    position:absolute;
    background-color:white;
    padding:0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    color:black;
    font-size:3.5rem;
    font-weight:600;
    
}

.bg1{
    background-image:url(assets/sport-1.jpg);
}


.bg2{
    background-image: url(assets/sport-2.jpg);
}

.bg3{
    background-image: url(assets/sport-3.jpg);
}

body {
    font-size: 16px;
}

.secHeading, .text, .desc {
    padding: 0 10rem;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .secHeading, .text, .desc {
        padding: 0 2rem;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: 2px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .secHeading, .text, .desc {
        padding: 0 1rem;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 1px;
    }
}