.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .header {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #0f32cf);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 70% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .user-bubble,
  .bot-bubble {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .chat-container {
    width: 100%;
    max-width: 700px;
    background-color: #e3d5e3; /* Change the background color here */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #007bff;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .header {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }

  .chat {
    min-height: 400px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 10px;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }

  #user-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  #send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .user-bubble {
    background-color: #007bff !important;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 70%;
    display: flex;
    align-content: flex-end;
  }

  .bot-bubble {
    background-color: #f2f2f2 !important;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 70%;
    align-self: flex-start !important;
  }

  .chat::-webkit-scrollbar {
    width: 0;
  }

  #send-button:hover {
    background-color: #0056b3;
  }

  .styled-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .styled-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(45deg, #000000, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }

  .emoji {
    font-size: 100px;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    color: #007bff;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 20%;
  }

  @keyframes waving-hand {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .emoji {
    transition: opacity 0.3s ease-in-out;
  }

  .chat-container {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
