.first{
    background-color: #c61111;
    color: white;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.first:hover{
    opacity: 0.7;
}

.first:active{
    opacity: 0.4;
}

.second{
    background-color: white;
    width: 130px;
    border-color: #046bbd;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #032a49;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: top;
    transition: background-color 0.3s,
    opacity 0.05s;
}

.second:hover{
    background-color: #046bbd;
    color: white;
}

.second:active{
    opacity: 0.7;
}

.third{
    background-color: #2ea4f8;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: not-allowed;
    margin-left: 10px;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.1s;
}

.third:hover{
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.6);
}

.Request{
    background-color: black;
    color: white;
    height: 50px;
    width: 140px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.add_to_cart{
    background-color: #eecf0d;
    color: black;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.signup{
    background-color: lightgreen;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
